.table {
   width: 100%;
   height: 100%;
   color: $main-text-color;

   .champions-table {
      width: 100vw;
      &__header {
         padding: 15px;
         width: 100%;
         display: inline-block;
         th {
            text-align: center;
            width: 150px;
            margin: 0;
            font-size: 20px;
            padding: 20px 0 0 0;
            .sort-descending {
               transform: rotate(180deg);
            }
         }
      }

      &__row {
         text-decoration: none;
         width: 100%;
         color: $main-text-color;
         display: inline-flex;
         cursor: pointer;
         &:hover {
            font-weight: 600;
         }

         td {
            text-align: center;
            width: 150px;
            margin: 0;
            padding: 20px 0 20px 0;
         }

         &:nth-child(even) {
            background: $row-alternate-color;
         }
      }
   }
}

@media screen and (max-width: 640px) {
   table {
      width: 100vw;

      .champions-table {
         width: 100vw;
         flex-direction: column;
      }
   }
}
